{% extends "layout.html" %}
{% block title %}Downloading {{ info.filename }}{% endblock %}
{% block container %}
  <h1>Downloading {{ info.filename }}</h1>
  <div class="row">
    <div class="one-half column">
      {% if info.data['outputDir'] %}
      <pre><code>Output Directory: {{ info.data['outputDir'] }}</code></pre>
      {% endif %}
      {% if info.data['url'] %}
      <pre><code>URL: {{ info.data['url'] }}</code></pre>
      {% endif %}
      {% if info.data['provider'] %}
      <pre><code>Provider: {{ info.data['provider'] }}</code></pre>
      {% endif %}
      {% if info.data['username'] %}
      <pre><code>Username: {{ info.data['username'] }}</code></pre>
      {% endif %}
      {% if info.data['password'] %}
      <pre><code>Password: {{ info.data['password'] }}</code></pre>
      {% endif %}
    </div>
    <div class="one-half column">
      {% if info.output %}
      <pre><code>Output: {{ info.output }}</code></pre>
      {% endif %}
    </div>
    <a class="u-full-width button"
       href={{ info.data['outputDir'] }}>Download {{ info.data['outputDir'] }}</a>
    <a class="u-full-width button" href="{{ url_for('home.base') }}">Back</a>
  </div>
{% endblock %}
