{% extends "layout.html" %}
{% set baseClass = 'u-full-width' %}
{% set urlPlaceholder = 'https://www.youtube.com/watch?v=_nH6ya5g2-s' %}
{% set outputDirPlaceholder = "Tim and Eric's Bedtime Stories/Season 01" %}
{% set usernamePlaceholder = "email@example.com" %}
{% block title %}youtube-dl{% endblock %}
{% block container %}
  <h1>youtube-dl</h1>
  <h3>Download an Episode</h3>
  <form action="{{ url_for('home.download') }}" method="post">
    <div class="row">
      <div class="six columns">
        {{ form.url.label }}
        {{ form.url(class_= baseClass,
                    placeholder= urlPlaceholder) }}
      </div>
      <div class="six columns">
        {{ form.outputDir.label }}
        {{ form.outputDir(class_= baseClass,
                          placeholder= outputDirPlaceholder) }}
      </div>
    </div>
    <!-- Must be unnested to allow for sibling css selector hide/show -->
    {{ form.authenticate.label }}
    {{ form.authenticate }}
    <div id="providerInfo" class="row">
      <div class="four columns">
        {{ form.provider.label }}
        {{ form.provider(class_= baseClass) }}
      </div>
      <div class="four columns">
        {{ form.username.label }}
        {{ form.username(class_= baseClass,
                         placeholder= usernamePlaceholder) }}
      </div>
      <div class="four columns">
        {{ form.password.label }}
        {{ form.password(class_= baseClass) }}
      </div>
    </div>
    <input class="u-full-width button-primary" type="submit" value="Download">
    {{ form.csrf_token }}
  </form>
{% endblock %}
