<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="A simple listing of the newest content files on the server">
  <meta name="author" content="tree">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('.static', filename='css/skeleton.css') }}"
        rel="stylesheet"
        type="text/css"/>
  <link href="{{ url_for('.static', filename='css/main.css') }}"
        rel="stylesheet"
        type="text/css"/>
</head>
<body>
  <div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class=flashes>
      {% for message in messages %}
        <div class=row>
          <div class="eight columns offset-by-two">
            <button class="u-full-width error">{{ message }}</button>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  {% block container %}
  {% endblock %}
  </div>
</body>
</html>
